mixin tableHeader(data)
	- data = data || {};

	.table__header
		.table__header-col!=data.col1
		.table__header-col.text-center!=data.col2
		.table__header-col.text-center!=data.col3
		.table__header-col!=data.col4
		.table__header-col.text-center!=data.col5
		.table__header-col.text-right!=data.col6

mixin tableBody(data)
	- data = data || {};

	.table__row
		.table__row-col.--user
			.table__row-avatar(style=`background-image: url('img/avatars/${data.avatar}.jpg')`)
			.table__row-about 
				.table__row-name!=data.name
				.table__row-nickname!=data.nick
		.table__row-col 
			.table__row-volume
				+icon("ethereum")
				span!=data.volume
		.table__row-col.jc-center
			.table__row-percent.color-green!=data.percent
		.table__row-col 
			.table__row-price
				+icon("ethereum")
				span!=data.price
		.table__row-col.jc-center
			.table__row-owners!=data.owners
		.table__row-col.jc-end
			.table__row-items!=data.items